* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #3d3b3c;
}

input, button {
    font-family: 'Open Sans', sans-serif;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    margin: 10px;
    font-size: medium;
    font-weight: bold;
}

h2, p {
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

ul li {
    color: #edebe9;
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    list-style-type: none;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
    padding-left: 10px;
    background-color: #7F7979
}

p {
    color: red;
}

button {
    cursor: pointer;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    width: 280px;
    background-color: #edebe9;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-container {
    display: flex;
    width: 100%;
}

#input-container .second-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-container .second-input-container .third-input-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}

.list-cn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-cn ul {
    border-radius: 5px;
    width: 65%;
    background-color: #7F7979;
}